[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "injurytools"]
	path = injurytools
	url = https://github.com/lzumeta/injurytools
